diss-notes/.obsidian/
project-templates-main-ug/ug/skeleton.aux
project-templates-main-ug/ug/skeleton.blg
project-templates-main-ug/ug/skeleton.bbl
project-templates-main-ug/ug/skeleton.bcf
project-templates-main-ug/ug/skeleton.fdb_latexmk
project-templates-main-ug/ug/skeleton.fls
project-templates-main-ug/ug/skeleton.log
project-templates-main-ug/ug/skeleton.out
project-templates-main-ug/ug/skeleton.pdf
project-templates-main-ug/ug/skeleton.run.xml
project-templates-main-ug/ug/skeleton.synctex.gz
project-templates-main-ug/ug/skeleton.toc
